<header>
    <div class="container">
      <a routerLink="/" class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-EKnAADO-fh07eheI1KBtA6G-TT9l8dOrJw&s" alt="logo" width="100px">
       </a>
      <nav>
        <ul>
          <li>
            <div class="cart-icon">
              <i class="fas fa-shopping-cart"></i> 
                <a routerLink="/cart-page">
                  <mat-icon>shopping_cart</mat-icon>
                <span class="cart-count">{{cartQuantity}}</span></a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>