<app-header></app-header>
<app-search></app-search>
<app-category></app-category>
<div class="card-container">
  <mat-card *ngFor="let item of foods" class="mat-card-item">
    <a routerLink="/food/{{item.ProductId}}" class="card-link">
      <img mat-card-image [src]="item.imageUrl" alt="{{ item.ProductName }}" class="card-image">
      <mat-card-content>
        <mat-card-title>{{ item.productName }}</mat-card-title>
        <mat-card-subtitle>{{ item.productPrice }} VND</mat-card-subtitle>
      </mat-card-content>
    </a>
    <mat-card-actions>
      <button mat-raised-button color="accent" class="add-to-cart-button" (click)="addToCart(item.ProductId)">
        <mat-icon class="add-to-cart-icon">add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="pagination">
  <!-- <button (click)="prevPage()" [disabled]="currentPage === 1">Pre</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button> -->
</div>

<app-footer></app-footer>
