<!-- customer-guide.component.html -->
<div class="container">
  <header>
      <div class="logo-container">
          <a routerLink="/" class="logo">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-EKnAADO-fh07eheI1KBtA6G-TT9l8dOrJw&s" alt="logo">
          </a>
      </div>
      <div class="welcome-text">
          <h1>Chào mừng bạn đến với CoffeeShop!</h1>
          <p>Chúng tôi rất vui mừng khi có bạn là khách hàng của chúng tôi. Dưới đây là hướng dẫn nhanh để giúp bạn điều hướng hệ thống đặt hàng trực tuyến của chúng tôi.</p>
      </div>
  </header>

  <main>
      <section class="order-section">
          <h2>Đặt hàng</h2>
          <div class="order-steps">
              <div class="step">
                  <img src="https://img.icons8.com/ios/50/000000/coffee.png" alt="Menu Icon">
                  <p>Duyệt qua menu của chúng tôi bằng cách nhấp vào tab "Menu".</p>
              </div>
              <div class="step">
                  <img src="https://img.icons8.com/ios/50/000000/add-shopping-cart.png" alt="Add to Cart Icon">
                  <p>Chọn sản phẩm bạn muốn đặt hàng bằng cách nhấp vào "Thêm vào giỏ hàng".</p>
              </div>
              <div class="step">
                  <img src="https://img.icons8.com/ios/50/000000/edit--v1.png" alt="Review Order Icon">
                  <p>Xem lại đơn đặt hàng của bạn và thực hiện bất kỳ thay đổi nào nếu cần.</p>
              </div>
              <div class="step">
                  <img src="https://img.icons8.com/ios/50/000000/checkout.png" alt="Checkout Icon">
                  <p>Nhấp vào "Thanh toán" để hoàn tất đơn hàng của bạn.</p>
              </div>
          </div>
      </section>

      <section class="payment-section">
          <h2>Thanh toán và nhận hàng</h2>
          <p>Sau khi hoàn tất đơn hàng, bạn sẽ được nhắc chọn phương thức thanh toán và thời gian nhận hàng.</p>
          <ul>
              <li>Chúng tôi chấp nhận [liệt kê các phương thức thanh toán, ví dụ: thẻ tín dụng, tiền mặt, v.v.].</li>
          </ul>
      </section>

      <section class="status-section">
          <h2>Tình trạng đặt hàng</h2>
          <p>Khi bạn đã đặt hàng, bạn có thể theo dõi trạng thái đơn hàng</p>
      </section>

      <section class="support-section">
          <h2>Giúp đỡ và hỗ trợ</h2>
          <p>Nếu bạn có bất kỳ câu hỏi hoặc vấn đề nào, đừng ngần ngại liên hệ với chúng tôi.</p>
          <ul>
              <li>Liên hệ với chúng tôi qua điện thoại hoặc email.</li>
              <li>Hãy truy cập trang Câu hỏi thường gặp của chúng tôi để biết câu trả lời cho các câu hỏi phổ biến.</li>
          </ul>
      </section>

      <div class="button-container">
          <button mat-raised-button color="primary" routerLink="/menu/{{tableNum}}">Menu</button>
      </div>
  </main>
</div>
