<app-header></app-header>

<div *ngIf="food" class="container">
  <img [src]="food.imageUrl" [alt]="food.productName"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{food.productName}}
      </span>
    </div>
    <div class="tags">
      <a routerLink="/tag/{{categoryName}}">
        {{categoryName}}
      </a>
    </div>
    <div class="price">
      <span>
        {{food.productPrice | currency}}
      </span>
    </div>
    <button (click)="addToCart(food)">
      <mat-icon>add_shopping_cart</mat-icon>Thêm vào giỏ hàng
    </button>
  </div>
</div>
<button mat-icon-button (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>

<app-footer></app-footer>
