<!-- app.component.html -->
<div class="cart-container">
  <div class="header">
    <h5>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      Giỏ hàng <span>{{cartQuantity}}</span>
    </h5>
  </div>

  <div *ngIf="cart && cart.length" class="cart-items">
    <div class="item" *ngFor="let cartItem of cart">      
      <div class="item-image">
        <img [src]="cartItem.imageUrl" [alt]="cartItem.productName">
      </div>
      <div class="item-details">
        <div class="item-name">
          <a [routerLink]="'/food/' + cartItem">
            {{cartItem.productName}}
          </a>
        </div>
        <div class="item-quantity">
          <input type="number" #quantitySelect
            [value]="cartItem.quantity"
            (change)="changeQuantity(cartItem, quantitySelect.value)"
            min="1" />
        </div>
        <div class="item-price">
          {{cartItem.productPrice | currency}}
        </div>
        <div class="item-remove">
          <button mat-icon-button (click)="removeFromCart(cartItem)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="checkout">
    <div class="summary">
      <div class="total-count">{{cartQuantity}}</div>
      <!-- <div class="total-price">{{totalPrice | currency}}</div> -->
    </div>
    <a routerLink="/order/{{tableNum}}" class="order-button">Đặt</a>
  </div>
</div>

<app-footer></app-footer>
