<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <h3>Thông tin liên hệ</h3>
        <p>Địa chỉ: Số nhà, Đường phố, Quận/Huyện, Thành phố</p>
        <p>Điện thoại: (+84) 123 456 789</p>
        <p>Email: example&#64;example.com</p>
      </div>
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7192853079296!2d105.84503207507176!3d21.00388678863276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad0e7f459a33%3A0x2c115281ebff6f10!2zQ2jGsMahbmcgdHLDrG5oIEjhu41jIHZp4buHbiBDw7RuZyBuZ2jhu4cgQktBQ0FE!5e0!3m2!1svi!2s!4v1718593517081!5m2!1svi!2s" 
          width="100%" 
          height="300" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
     
    </div>
    <div class="footer-bottom">
      <p> copy; 2024 Your Company. All rights reserved.</p>
    </div>
  </div>
</footer>
